aside {
    position: absolute;
    right: 10px;
    width: 190px;
    padding: 10px;
    border: 1px solid #aaa;
    background: #fcfcfc;
    border-radius:8px;
    font-family: sans-serif;
    line-height: 125%;
    font-size: .8em;
    outline: none;
}

/* creates a little gray triangle */
aside:before {
    content:"";
    position:absolute;
    border-style:solid;
    top:10px;
    left:-11px;
    border-width:5px 10px 5px 0;
    border-color:transparent #aaa;
}

/* overlaps it with a little white triangle */
aside:after {
    content:"";
    position:absolute;
    border-style:solid;
    top:10px;
    left:-9px;
    border-width:5px 10px 5px 0;
    border-color:transparent #fcfcfc;
}

aside:hover {
    z-index: 10;
}
