body {
    line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p + p, p + aside + p {
    text-indent: 2em;
}

p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto
    hyphens: auto;
    text-align: justify;
}
