html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    padding-left: 235px;;
    background: white;
    color: #333;
    height: 100%;
    overflow: hidden;
}

#logo {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 18px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 225px;
    overflow: auto;
    padding-left: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
}

nav .paragraph {
    color: #aaa;
}

article {
    outline: none;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#menu {
    position: absolute;
    top: 40px;
    left: 10px;
    width: 185px;
    background: white;
    z-index: 101;
    border: 1px solid #aaa;
    border-radius:8px;
    border-top-left-radius: 0;
    padding: 6px;
    font-size: 12px;
    font-family: sans-serif;
    background: #fcfcfc;
}

#menu a {
    cursor: pointer;
    display: block;
    padding: 4px;
    border: 1px solid #fcfcfc;
    border-radius: 4px;
}

#menu a.expands:after {
    content: "\25B8";
    float: right;
    color: #aaa;
}

#menu a:hover {
    dbackground: #ccc;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, white, #eee);
    background: -webkit-linear-gradient(top, white, #eee);
}

#menu .keybinding {
    float: right;
    color: #999;
}

#menu menu, #menu li, .submenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu .submenu {
    padding-left: 1.5em;
}

#menu #language {
    width: 2em;
    border: 1px solid #aaa;
}

#menu input[type=checkbox] {
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}

#menu label {
    cursor: pointer;
}

.outline, .outline * {
    margin: 0;
    padding: 0;
}

.outline li {
    padding-left: 16px;
    list-style: none;
}

.outline .icon {
    vertical-align: middle;
    position: relative;
    left: -16px;
}

.outline .icon + a {
    position: relative;
    left: -9px;
}

.outline li.leaf {
    background-image: url('line.gif'), url('leaf.gif');
    background-repeat: repeat-y, no-repeat;
}

.outline li.leaf_last {
    background-image: url('last.gif'), url('leaf.gif');
    background-repeat: no-repeat;
}

.outline li.branch_open {
    background-image: url('open.gif'), url('line.gif');
    background-repeat: no-repeat, repeat-y;
}

.outline li.branch_closed {
    background-image: url('closed.gif'), url('line.gif');
    background-repeat: no-repeat, repeat-y;
}

.outline li.branch_open_last {
    background-image: url('open.gif'), url('last.gif');
    background-repeat: no-repeat;
}

.outline li.branch_closed_last {
    background-image: url('closed.gif'), url('last.gif');
    background-repeat: no-repeat;
}
