body {
    background: white;
    color: #333;
}

#logo {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 18px;
}

nav {
    width: 225px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    padding-left: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
}

nav .paragraph {
    color: #aaa;
}

article {
    margin-left: 250px;
    margin-right: 250px;
    outline: none;
}

aside {
    position: absolute;
    right: 10px;
    width: 190px;
    padding: 10px;
    border: 1px solid #aaa;
    background: #fff;
    border-radius:8px;
    font-family: sans-serif;
    line-height: 125%;
    font-size: .8em;
    outline: none;
}

/* creates a little gray triangle */
aside:before {
    content:"";
    position:absolute;
    border-style:solid;
    top:10px;
    left:-11px;
    border-width:5px 10px 5px 0;
    border-color:transparent #aaa;
}

/* overlaps it with a little white triangle */
aside:after {
    content:"";
    position:absolute;
    border-style:solid;
    top:10px;
    left:-9px;
    border-width:5px 10px 5px 0;
    border-color:transparent white;
}

aside:hover {
    z-index: 10;
}

#menu {
    position: absolute;
    top: 40px;
    left: 9px;
    width: 170px;
    background: white;
    z-index: 101;
    border: 1px solid #aaa;
    border-radius:8px;
    border-top-left-radius: 0;
    padding: 6px;
    font-size: 12px;
    font-family: sans-serif;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
    background: #fafafa;

}

#menu a {
    cursor: pointer;
    display: block;
    padding: 4px;
    padding-top: 3px;
    border: 1px solid #fafafa;
    border-radius: 4px;
}

#menu a.expands:after {
    content: "\25B8";
    float: right;
    color: #aaa;
}

#menu a:hover {
    dbackground: #ccc;
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, white, #eee);
    background: -webkit-linear-gradient(top, white, #eee);
}

#menu .keybinding {
    float: right;
    color: #999;
}

#menu ul, #menu li, .submenu, .submenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu .submenu {
    padding-left: 1em;
}

#menu #language {
    width: 2em;
    border: 1px solid #aaa;
}

#menu input[type=checkbox] {
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}

#menu label {
    cursor: pointer;
}

.outline, .outline * {
    margin: 0;
    padding: 0;
}

.outline li {
    padding-left: 16px;
    list-style: none;
}

.outline li.leaf {
    background-image: url('line.gif'), url('leaf.gif');
    background-repeat: repeat-y, no-repeat;
}

.outline li.leaf_last {
    background-image: url('last.gif'), url('leaf.gif');
    background-repeat: no-repeat;
}

.outline li.branch_open {
    background-image: url('open.gif'), url('line.gif');
    background-repeat: no-repeat, repeat-y;
}

.outline li.branch_closed {
    background-image: url('closed.gif'), url('line.gif');
    background-repeat: no-repeat, repeat-y;
}

.outline li.branch_open_last {
    background-image: url('open.gif'), url('last.gif');
    background-repeat: no-repeat;
}

.outline li.branch_closed_last {
    background-image: url('closed.gif'), url('last.gif');
    background-repeat: no-repeat;
}
