body {
    margin: 0;
    padding: 0;
    background: white;
    color: #333;
    line-height: 125%;
}

a {
    cursor: pointer;
}

span.paragraph {
    color: #aaa;
}

#logo {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1em;
}

#logo img {
    vertical-align: middle;
}

span.arrow {
    color: #aaa;
    margin-left: 2px;
}

#menu, #menu li, .submenu, .submenu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.submenu {
    padding-left: 1em;
}

#menu {
    position: absolute;
    top: 50px;
    left: 9px;
    width: 170px;;
    background: white;
    z-index: 101;
    border: 1px solid #aaa;
    border-radius:8px;
    border-top-left-radius: 0;
    padding: 10px;
    font-size: 12px;
    font-family: sans-serif;
    box-shadow: 4px 4px 8px rgba(0,0,0,.2);
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}

span.keybinding {
    float: right;
    padding-left: 2em;
    color: #999;
}

#language {
    width: 2em;
    border: 1px solid #aaa;
}

input[type=checkbox] {
    margin-left: 0;
    padding-left: 0;
    cursor: pointer;
}

label {
    cursor: pointer;
}

#outline_container {
    width: 225px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

#outline {
    padding: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
}

#outline_title {
    outline: none;
    font-weight: bold;
    font-size: 1.2em;
}

#document_container {
    margin-left: 250px;
    margin-right: 250px;
}

#document {
    outline: none;
}

aside {
    position: absolute;
    right: 10px;
    width: 190px;
    padding: 0 10px;
    border: 1px solid #aaa;
    background: #fff;
    border-radius:8px;
    font-family: sans-serif;
    line-height: 125%;
    font-size: .8em;
    outline: none;
}

/* creates a little gray triangle */
aside:before {
    content:"";
    position:absolute;
    border-style:solid;
    top:10px;
    left:-11px;
    border-width:5px 10px 5px 0;
    border-color:transparent #aaa;
}

/* overlaps it with a little white triangle */
aside:after {
    content:"";
    position:absolute;
    border-style:solid;
    top:10px;
    left:-9px;
    border-width:5px 10px 5px 0;
    border-color:transparent white;
}
/* TODO: render this more nicely in Firefox */




aside:hover {
    z-index: 10;
}


ol.tree, ol.tree * {
    margin: 0;
    padding: 0;
}

ol.tree li {
    padding-left: 16px;
    list-style: none;
}

li.leaf {
    background-image: url('line.gif'), url('leaf.gif');
    background-repeat: repeat-y, no-repeat;
}

li.leaf_last {
    background-image: url('last.gif'), url('leaf.gif');
    background-repeat: no-repeat;
}

li.branch_open {
    background-image: url('open.gif'), url('line.gif');
    background-repeat: no-repeat, repeat-y;
}

li.branch_closed {
    background-image: url('closed.gif'), url('line.gif');
    background-repeat: no-repeat, repeat-y;
}

li.branch_open_last {
    background-image: url('open.gif'), url('last.gif');
    background-repeat: no-repeat;
}

li.branch_closed_last {
    background-image: url('closed.gif'), url('last.gif');
    background-repeat: no-repeat;
}

